[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://github.com/zax37/imgui-sfml
	branch = viewports
[submodule "imgui"]
	path = imgui
	url = https://github.com/zax37/imgui
	branch = docking
[submodule "nativefiledialog-extended"]
	path = nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "IconFontCppHeaders"]
	path = IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "mINI"]
	path = mINI
	url = https://github.com/metayeti/mINI
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
